
# Environment
NUXT_NODE_ENV = development

# PostgreSQL
NUXT_POSTGRES_USER = postgres
NUXT_POSTGRES_PASSWORD = postgres
NUXT_POSTGRES_HOST = localhost
NUXT_POSTGRES_DB = trading_bot
NUXT_POSTGRES_PORT = 5432

# Neon DB
NUXT_DB_CONNECTION_STRING = 
